html {
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 auto;
	text-align: center;
}

/* Setting the background image */

.background-image {
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	display: block;
	width: 100%;
    height: 100%;
    position: absolute;
	opacity: 0.8;
	z-index: -999;
}

#wrapper {
	max-width: 70rem;
	margin: 0 auto;
	background: url("../images/transparent.jpg");
}

/* Heading section CSS */

.heading img {
	max-width: 400px;
    max-height: 200px;
    margin: 1.25rem;
}

.heading h1 {
	font-size: 2.75rem;
	font-weight: bolder;
	letter-spacing: 0.1rem;
	color: #fff;
	padding-bottom: 1.5rem;
}

/* Input section CSS */

.input-section {
	padding-bottom: 2rem;
}

.input-section #job-title {
	font-size: 1.25rem;
	font-family: 'Josefin Sans', sans-serif;
	width: 30%;
	letter-spacing: 0.02rem;
	padding: 0.25rem;
	margin-right: 1rem;	
}

.input-section #job-title:focus {
	outline: none;
}

.input-section select {
	font-size: 1.25rem;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.02rem;
	padding: 0.5rem;
	margin-right: 1rem;	
}

.input-section .search {
	font-size: 1rem;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.02rem;
	padding: 0.5rem;
	border: none;
	border-radius: 0.25rem;
}

.input-section .search:focus {
	outline: none;
}

.input-section .search:hover {
	cursor: pointer;
}

/* Job listings CSS */

.job-listings {
	text-align: center;
	color: #fff;
	padding: 4rem 0;
}

.job-details p, h3, h4 {
	margin: 1rem;
}

.job-details a {
	font-size: 1.75rem;
	color: #2E64FE;
}

.job-details p {
	font-size: 1.25rem;
}

.job-details h3 {
	font-size: 1.5rem;
}

.job-details h4 {
	font-size: 1.25rem;
	padding-bottom: 1rem;
	/*border-bottom: 1px solid #777;*/
}

.job-details hr {
	font-style: 1px solid #666;
	width: 60%;
	margin-top: 0.25rem;
}